<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fm.jiecao.jcvideoplayer_lib">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64,tv.danmaku.ijk.media.player_x86_64" />
    <application
        android:allowBackup="true"
        android:supportsRtl="true"></application>

</manifest>
