<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fm.jiecao.jiecaovideoplayer">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ApplicationDemo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActiivtyMain"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ActivityPlayDirectly"/>

        <activity android:name=".ActivityListView"/>
        <activity android:name=".ActivityListViewNormal"/>
        <activity android:name=".ActivityListViewViewpager"/>
        <activity android:name=".ActivityListViewMultiHolder"/>

        <activity android:name=".ActivityUI"/>
        <activity android:name=".ActivityUISmallChange"/>
        <activity android:name=".ActivityUIBigChange"/>
        <activity android:name=".ActivityUIImageLoader"/>

    </application>

</manifest>
